<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">Service History</div>
        <div class=" card-body"><div class="Service History" id="Service History"></div></div>
        <div>


        </div>
        <input type="text" placeholder="Search..." (keyup)="quickSearch()" [(ngModel)]="searchValue">
        <style> 
          input {
            width: 100%;
            height: 40px;
            background-color: white;}
          </style>
        <div>
          
          
          <ag-grid-angular
          style="width: 100%; height: 100%; margin-top: 10px;"
  class="ag-theme-alpine"
  
  [columnDefs]="colDefs"
  [animateRows]= "true"
  domLayout='autoHeight'
  rowSelection="multiple"
  (gridReady)="onGridReady($event)"
  [defaultColDef]="defaultColDef"
  editType="fullRow"
  [suppressClickEdit]="true"
  [pagination]="pagination"
  [paginationPageSize]="paginationPageSize"       
  >
  
</ag-grid-angular> 
        </div>


      </div>
    </div>
  </div>
</div>

