<div class="logo">
  <a href="https://www.larsonsmedicalsupply.com" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/larson-logo-5.png" />
    </div>
  </a>
  <a href="https://www.larsonsmedicalsupply.com" class="simple-text logo-normal">
    Larson's Medical
  </a>
</div>
<div class="sidebar-wrapper">
  <ul *ngIf='isUserAuthenticated' class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
    <li class=" nav-item"(click)="logout();" >
      <a>
        <i class="tim-icons tim-icons icon-settings-gear-63"></i>
        <p>Logout</p>
      </a>
    </li>
  </ul>
</div>
