/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';

html,
body {
  font-family: sans-serif;
}
.action-button {
  border: none;
  color: white;
  padding: 3px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 0.7;
}

.action-button:hover {
  opacity: 1;
}

.action-button.edit {
  background-color: #008cba; /* Blue */
}
.action-button.update {
  background-color: #4caf50; /* Green */
}

.action-button.delete {
  background-color: #f44336; /* Red */
}

.action-button.cancel {
  background-color: #e7e7e7; /* Gray */
  color: black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.help{
  position: absolute;

}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

em{
  color: #e71515;
  font-weight: bold;
}
.ng-invalid.ng-touched{
  border-color: red;
}
.card{
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 1px #cabcbc;
}

.error{
  color: #e71515;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background-color: #f3a4b5;
  color: black;
}

.example-full-width {
  width: 100%;
}

/* .mat-form-field-wrapper .mat-form-field-flex {
  background-color: white;
} */
