<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card card-plain">
          <div class=" card-header">Clients</div>
          <div class=" card-body"><div class=" dashboard" id="dashboard"></div></div>
          
          <div>
            <button class="btn btn-primary mb-3" (click)="openDialog()">Add New Client</button>
          </div>
          
          <div>
            <input type="text" placeholder="Search..." (keyup)="quickSearch()" [(ngModel)]="searchValue">
          <style> 
            input {
              width: 100%;
              height: 40px;
              background-color: white;}
            </style>
          </div>
        
          <div>
            <ag-grid-angular
              #agGrid
              style="width: 100%; height: 100%; margin-top: 10px;"
              class="ag-theme-alpine"

              [columnDefs]="colDefs"
              [animateRows]= "true"
              domLayout='autoHeight'
              rowSelection="multiple"
              (gridReady)="onGridReady($event)"
              [defaultColDef]="defaultColDef"
              (rowEditingStopped)="onRowEditingStopped($event)"
              (rowEditingStarted)="onRowEditingStarted($event)"
              (cellClicked)="onCellClicked($event)"
              editType="fullRow"
              [suppressClickEdit]="true"
              [pagination]="pagination"
              [paginationPageSize]="paginationPageSize" 
              [rowData]="rowData"
              [components]="components"
              rowSelection="single"
              
              >
    
  </ag-grid-angular> 
          </div>
          <div>
            <!-- <button class="help" mat-button color="accent" (click)="openModal()" >Help</button> -->
            <a mat-button color="accent" href="https://docs.google.com/document/d/19DdnHUUQa3leXgftYEspf4QwI18OmSPq/edit#heading=h.tyjcwt">Help</a>
            </div>


        </div>
      </div>
    </div>
  </div>

  