<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">Next Service</div>
        <div class=" card-body"><div class=" Next Service" id="Next Service"></div></div>

        <div>
          <mat-form-field style="color: white" appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
              <input readonly matStartDate formControlName = "start" placeholder="Start date">
              <input readonly matEndDate formControlName = "end" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker" style="color: white"></mat-datepicker-toggle>
            <mat-date-range-picker #picker style="color: white;"></mat-date-range-picker>
          </mat-form-field>
          <label *ngIf="dateRange.errors">{{ dateRange.errors?.dates | json }}</label>
          <button (click)="generateReport();" mat-raised-button color="accent" [disabled]="!dateRange.valid">Generate</button>
        </div>
        
        <!-- <div>
        <input type="text" style="width: 100%; height: 40px; background-color: white;" placeholder="Search..." (keyup)="quickSearch()" [(ngModel)]="searchValue">
        
        </div> -->

        <div>
          <ag-grid-angular
          style="width: 100%; height: 100%; margin-top: 10px;"
  class="ag-theme-alpine"
  
  [columnDefs]="colDefs"
  [animateRows]= "true"
  domLayout='autoHeight'
  rowSelection="multiple"
  [rowData]="rowData | async"
  [defaultColDef]="defaultColDef"
  (rowEditingStopped)="onRowEditingStopped($event)"
  (rowEditingStarted)="onRowEditingStarted($event)"
  (cellClicked)="onCellClicked($event)"
  editType="fullRow"
  [suppressClickEdit]="true"
  [pagination]="pagination"
  [paginationPageSize]="paginationPageSize"
  [suppressLoadingOverlay] = "true"
  >
  
</ag-grid-angular> 
        </div>
        <div>
          <a mat-button color="accent" href="https://docs.google.com/document/d/19DdnHUUQa3leXgftYEspf4QwI18OmSPq/edit#heading=h.35nkun2">Help</a>
          </div>



      </div>
    </div>
  </div>
</div>

